Application {
            paddingLeft: 0px;
            paddingRight: 0px;
            paddingTop: 0px;
            paddingBottom: 0px;
            horizontalAlign: "right";
            verticalAlign: "bottom";
            backgroundImage: "";
            backgroundColor: #FFFFFF;
        }