@font-face {
   src:local("Futura");
   fontFamily: myFuturaMedium;
   unicode-range: U+0030-U+003A;
}

.playbackButton {
	skin: ClassReference("mx.skins.ProgrammaticSkin");
}
.playbackControls {
	backgroundImage: Embed(source='../images/playbarbg.png');
	backgroundSize: "100%";
}
.timeLabel {
	textAlign: right;
	paddingTop: 2; 
	fontFamily: myFuturaMedium;
	fontSize: 12;
	fontAntiAliasType: "advanced";
	color: #CCCCCC;
}
.playButton {
	skin: ClassReference("mx.skins.ProgrammaticSkin");
	icon: Embed("../images/play.png");
	downIcon: Embed("../images/play-active.png");
}
.pauseButton {
	skin: ClassReference("mx.skins.ProgrammaticSkin");
	icon: Embed("../images/pause.png");
	downIcon: Embed("../images/pause-active.png");
}
.playbarProgress, .volumeSlider {
	trackSkin: Embed(source="../images/Slider_trackSkin.png",
		scaleGridTop=1,scaleGridBottom=8,scaleGridLeft=1,scaleGridRight=180);
	barSkin: Embed("../images/Slider_trackHighlightSkin.png");
}
.playbarSlider, .volumeSlider {
	thumbSkin: Embed("../images/Slider_thumbUpSkin.png");
	thumbUpSkin: Embed("../images/Slider_thumbUpSkin.png");
	thumbDownSkin: Embed("../images/Slider_thumbDownSkin.png");
	thumbOverSkin: Embed("../images/Slider_thumbOverSkin.png");
	thumbDisabledSkin: Embed("../images/Slider_thumbDisabledSkin.png");
}
.playbarSlider {
	trackSkin: Embed("../images/inv.png");
}
.popupButton {
	skin: ClassReference("mx.skins.ProgrammaticSkin");
	paddingLeft: 8;
	arrowButtonWidth: 0;
}
.volumePopUp {
	paddingLeft: 2;
	paddingTop: 5;
	paddingBottom: 3;
	backgroundAlpha: 0.75;
	borderStyle: "solid";
	borderThickness: 0;
	cornerRadius: 5;
	roundedBottomCorners: false;
	backgroundColor: #8E8F8E;
	selectionColor: #444444;
}
.menu {
	backgroundAlpha: 0.75;
	borderStyle: "solid";
	borderThickness: 0;
	cornerRadius: 5;
	roundedBottomCorners: false;
	backgroundColor: #8E8F8E;
	textAlign: left;
	color: white;
	rollOverColor: #444444;
	textRollOverColor: white;
	paddingLeft: 10;
	arrowButtonWidth: 0;
}
